# Temporary files
*~

bower_components
dist/

# Node gitignore https://github.com/github/gitignore/blob/master/Node.gitignore
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sln
*.suo
lib-cov
logs
node_modules
npm-debug.log
pids
results
*.sublime-workspace

# WebStorm
.DS_Store
*.iml
*.ipr
*.iws

/.idea/*

# Include scopes so they can be shared by team members.
!/.idea/scopes/
!/.idea/dictionaries

# Project build/install
output/
vendor/

# Code Coverage Results
coverage/

# Ignore 3rd party definitions installed via node
src/ts-definitions

# Atom was hiding this folder in the editor.
!/src/behavior/icon
